<!DOCTYPE html>
<html>
  <head>
    <title>Card Generator</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <h1>Card Creation Form</h1>
      <form action="/" method="POST" enctype="multipart/form-data">
        <label for="eventTitle">Event Card Title</label>
        <input type="text" id="eventTitle" name="eventTitle" required />
        <label for="cardSize">Card Size (1 for highest, 4 for lowest)</label>
        <select id="cardSize" name="cardSize" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <label for="deckSource">Deck Source</label>
        <select id="deckSource" name="deckSource" required>
          <option value="Strategy">Strategy Deck</option>
          <option value="Character">Character Deck</option>
        </select>
        <label for="faction">Faction</label>
        <select id="faction" name="faction">
          <option value="free-peoples">Free Peoples</option>
          <option value="shadow">Shadow</option>
        </select>
        <label for="type">Type</label>
        <select id="type" name="type" required>
          <option value="Character">Character</option>
          <option value="Army">Army</option>
          <option value="Muster">Muster</option>
        </select>
        <label for="precondition">Event Precondition</label>
        <input type="text" id="precondition" name="precondition" />
        <label for="improvedPrecondition">Improved Event Precondition</label>
        <input
          type="text"
          id="improvedPrecondition"
          name="improvedPrecondition"
        />
        <label for="eventText">Event Text</label>
        <textarea type="text" id="eventText" name="eventText"></textarea>
        <label for="improvedEventText">Improved Event Text</label>
        <textarea
          type="text"
          id="improvedEventText"
          name="improvedEventText"
        ></textarea>
        <label for="specialHuntTileImg">Special Hunt Tile Image</label>
        <select id="specialHuntTileImg" name="specialHuntTileImg">
          <option value=""></option>
          <option value="dice">dice</option>
          <option value="eye">eye</option>
          <option value="minus1">minus1</option>
          <option value="minus2">minus2</option>
          <option value="plus1">plus1</option>
          <option value="plus3">plus3</option>
          <option value="zero">zero</option>
        </select>
        <label for="discardCondition">Event Discard Condition</label>
        <textarea
          type="text"
          id="discardCondition"
          name="discardCondition"
        ></textarea>
        <label for="improvedDiscardCondition"
          >Improved Event Discard Condition</label
        >
        <textarea
          type="text"
          id="improvedDiscardCondition"
          name="improvedDiscardCondition"
        ></textarea>
        <label for="combatTitle">Combat Title</label>
        <input type="combatTitle" name="combatTitle" />
        <label for="combatPrecondition">Combat Precondition</label>
        <input type="text" id="combatPrecondition" name="combatPrecondition" />
        <label for="improvedCombatPrecondition"
          >Improved Combat Precondition</label
        >
        <input
          type="text"
          id="improvedCombatPrecondition"
          name="improvedCombatPrecondition"
        />
        <label for="combatText">Combat Text</label>
        <textarea type="text" id="combatText" name="combatText"></textarea>
        <label for="improvedCombatText">Improved Combat Text</label>
        <textarea
          type="text"
          id="improvedCombatText"
          name="improvedCombatText"
        ></textarea>
        <label for="initiativeNumber">Combat Initiative Number</label>
        <input type="text" id="initiativeNumber" name="initiativeNumber" />
        <label for="cardNumber">Card Number</label>
        <input type="text" id="cardNumber" name="cardNumber" />
        <button type="submit">Submit</button>
      </form>
      <a href="/">Go Back</a>
    </div>
  </body>
</html>
