<!DOCTYPE html>
<html>
  <head>
    <title>wowow</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
   		<h1>Card Creation Form</h1>
	    <form action="/" method="POST">
	    	<label for="eventTitle">Event Card Title</label>
	    	<input type="text" id="eventTitle" name="card[eventTitle]" required>
	    	<label for="faction">Faction</label>
	    	<select id="faction" name="card[faction]">
	    		<option value="Free Peoples">Free Peoples</option>
	    		<option value="Shadow">Shadow</option>
	    	</select>
	    	<label for="type">Card Type</label>
	    	<select name="card[type]" required>
	    		<option value="Character">Character</option>
	    		<option value="Army">Army</option>
	    		<option value="Muster">Muster</option>
	    	</select>
	    	<label for="precondition">Event Precondition</label>
	    	<input type="text" id="precondition" name="card[precondition]">
	    	<label for="eventText">Event Text</label>
	    	<textarea type="text" id="eventText" name="card[eventText]"></textarea>
	    	<label for="discardCondition">Event Discard Condition</label>
	    	<input type="text" id="discardCondition" name="card[discardCondition]">
	    	<label for="combatTitle">Combat Title</label>
	    	<input type="combatTitle" name="card[combatTitle]">
	    	<label for="combatPrecondition">Combat Precondition</label>
	    	<input type="text" id="combatPrecondition" name="card[combatPrecondition]">
	    	<label for="combatText">Combat Text</label>
	    	<textarea type="text" id="combatText" name="card[combatText]"></textarea>
	    	<label for="initiativeNumber">Combat Initiative Number</label>
	    	<input type="text" id="initiativeNumber" name="card[initiativeNumber]">
	    	<label for="cardNumber">Card Number</label>
	    	<input type="text" id="cardNumber" name="card[cardNumber]">
	    	<button type="submit">Submit</button>
	    </form>
    </div>

    <h2>List of Cards:</h2>
    <ul>
    <% if(cards.length) { %>
	    <% cards.forEach(function(card) { %>
	    	<li><%= card.eventTitle %></li>
	    	<li><%= card.cardType %></li>
	    <% })%>
	<% } %>
    </ul>
  </body>
</html>
