<!DOCTYPE html>
<html>
  <head>
    <title>Card Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>List of Cards:</h1>
    <ul>
    <% if(cards.length) { %>
	    <% cards.forEach(function(card) { %>
	    	<li><%= card.eventTitle %></li>
	    	<img src="<%= card.specialHuntTileImg %>">
	    <% })%>
	<% } %>
    </ul>
    <a href="/create">Create Card</a>
  </body>
</html>
