<!DOCTYPE html>
<html>
  <head>
    <title>Card Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
	    <form action="/" method="GET" autocomplete="off">
		    <input type="text" name="search" autofocus>
	    	<ul id="suggestions"></ul>
	    </form>
	</div>
		<% if(card === null || typeof card === undefined) { %>
			<h1>No card found!</h1>
		<% } else { %>
	    	<div class="card placeholder">
		    </div>
	    <% } %>
   <script type="text/javascript" src="/javascripts/script.js"></script>
   	<script type="text/javascript">
   		displayCard(<%- JSON.stringify(card) %>);
	</script>
  </body>
</html>
