<!DOCTYPE html>
<html>
  <head>
    <title>wowow</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Header</h1>
    <p>Welcome to this app</p>
  </body>
</html>
