*,
*::before,
*::after {
	box-sizing: inherit;
	font-family: sans-serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	box-sizing: border-box;
}

div {
	text-align: center;
}

label, button {
	display: block;
}

button {
	margin: 0 auto;
}

input {
	width: 20%;
}

textarea {
	width: 20%;
	height: 100px;
}

img {
	max-width: 300px;
}


