 /*Custom Fonts - ensure fallback and browser compatability*/

@font-face {
	src: url(../fonts/PonaDisplay-LightItalic.otf);
	font-family: PonaDisplay;
	font-style: italic;
}

@font-face {
	src: url(../fonts/PonaDisplay-Medium.otf);
	font-family: PonaDisplay;
	font-style: normal;
	font-weight: 400;
}


@font-face {
	src: url(../fonts/PonaDisplay-Semibold.otf);
	font-family: PonaDisplay;
	font-style: normal;
	font-weight: 600;
}

@font-face {
	src: url(../fonts/PonaDisplay-Bold.otf);
	font-family: PonaDisplay;
	font-style: bold;
	font-weight: 700;
}

/* Begin Styles */

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	box-sizing: border-box;
}

div {
	text-align: center;
}

label, button {
	display: block;
}

button {
	margin: 0 auto;
}

input {
	width: 20%;
}

textarea {
	width: 20%;
	height: 100px;
}

img {
	max-width: 300px;
}

/* ----- Search Bar Settings -----*/
input {
	width: 40%;
	border: 3px solid rgba(178,151,114,1);
	padding: 5px;
	font-size: 20px;
	height: 50px;
	outline: none;
}

ul {
	position: absolute;
	z-index: 1;
	width: 39.5%;
	padding: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

li {
	list-style: none;
	background-color: rgba(178,151,114,1);
	transition: opacity 0.20s ease-in;
	margin: 0 auto;
	padding: 2%;
	border-left: 1px solid rgba(0,0,0,0.15);
	border-right: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

/*place holder hover / focus effects*/

li:hover {
	background-color: pink;
}

a:focus > li {
	background-color: pink;
}

/* ---- ---------------------------*/

li h1 {
	text-align: left;
	margin: 0;
	font-size: 25px;
}

li p {
	text-align: left;
	font-size: 18px;
	margin: 0;
}

/* ---- Card highlighting and suggestion styles ---- */

.title {

}

.pre {
	font-weight: bold;
}

.txt {

}

.highlight {
	background-color: rgb(255, 251, 204);
}

.left {
	float: left;
}

.right {
	float: right;
}

.pages {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

/* ----- General Card Settings -----*/

.card {
	position: absolute;
	background-repeat: no-repeat;
	width: 429px;
	height: 800px;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 50px;
}

.shadow-1 {
	background: url(/images/card-art/blanks/Blank-Shadow-Card-1.jpg);
	background-size: auto 100%;
}

.shadow-2 {
	background: url(/images/card-art/blanks/Blank-Shadow-Card-2.jpg);
	background-size: auto 100%;
}

.shadow-3 {
	background: url(/images/card-art/blanks/Blank-Shadow-Card-3.jpg);
	background-size: auto 100%;
}

.shadow-4 {
	background: url(/images/card-art/blanks/Blank-Shadow-Card-4.jpg);
	background-size: auto 100%;
}

.free-peoples-1 {
	background: url(/images/card-art/blanks/Blank-FP-Card-1.jpg);
	background-size: auto 100%;
}

.free-peoples-2 {
	background: url(/images/card-art/blanks/Blank-FP-Card-2.jpg);
	background-size: auto 100%;
}

.free-peoples-3 {
	background: url(/images/card-art/blanks/Blank-FP-Card-3.jpg);
	background-size: auto 100%;
}

.free-peoples-4 {
	background: url(/images/card-art/blanks/Blank-FP-Card-4.jpg);
	background-size: auto 100%;
}

.event-text,
.event-precondition,
.discard-condition,
.combat-text,
.combat-precondition {
	margin: 2% 2% 2% 2%;
	font-size: 19px;
	font-family: PonaDisplay;
	white-space: pre-wrap;
}

/* -------- Event Section --------*/

.event-box-free-peoples p, 
.event-box-shadow p {
	text-align: left;
}

.event-box-free-peoples {
	position: absolute;
	top: 14%;
	width: 315px;
}

.event-box-shadow {
	position: absolute;
	top: 17%;
	width: 315px;
}

.event-title {
	font-size: 25px;
	width: 63%;
	margin: 0 auto;
	font-family: PonaDisplay;
	font-style: bold;
}

.event-precondition, 
.combat-precondition {
	font-weight: 600;
}

.discard-condition {
	font-style: italic;
}

.special-hunt-tile-img {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -5rem;
}

/* -------- Combat Section --------*/

.combat-box-free-peoples {
	width: 325px;
	height: 200px;
	text-align: right;
}

.combat-box-shadow {
	width: 280px;
	height: 200px;
	text-align: right;
}

 /*Each box fits text for Blank-{faction}-Card-{num}*/
.box-1,
.box-2,
.box-3,
.box-4 {
	position: absolute;
}

.box-1 {
	bottom: 25%;
	right: 12%;
}

.box-2 {
	bottom: 21%;
	right: 11%;
}

.box-3 {
	bottom: 13%;
	right: 11%;
}

.box-4 {
	bottom: 8%;
	right: 11%;
}

.combat-title {
	font-size: 25px;
	margin: 0 auto;
	margin-bottom: 2%;
	font-family: PonaDisplay;
	font-style: bold;
}

/* ------- Bottom Card Text -------*/

.initiative-number {
	position: absolute;
	font-weight: bold;
	top: 89.5%;
	left: 11.5%;
} 

.card-number {
	position: absolute;
	top: 96%;
	font-size: 0.6rem;
	right: 2.75%;
	color: white;
}