 Custom Fonts - ensure fallback and browser compatability*/

@font-face {
	src: url(../fonts/PonaDisplay-LightItalic.otf);
	font-family: PonaDisplay;
	font-style: italic;
}

@font-face {
	src: url(../fonts/PonaDisplay-Medium.otf);
	font-family: PonaDisplay;
	font-style: normal;
	font-weight: 400;
}


@font-face {
	src: url(../fonts/PonaDisplay-SemiBold.otf);
	font-family: PonaDisplay;
	font-style: normal;
	font-weight: 600;
}

@font-face {
	src: url(../fonts/PonaDisplay-Bold.otf);
	font-family: PonaDisplay;
	font-style: bold;
	font-weight: 700;
}


/* Begin Styles */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	box-sizing: border-box;
}

div {
	text-align: center;
}

label, button {
	display: block;
}

button {
	margin: 0 auto;
}

input {
	width: 20%;
}

textarea {
	width: 20%;
	height: 100px;
}

img {
	max-width: 300px;
}

.card {
	position: relative;
	background: url(/images/card-art/blanks/Blank-FP-Card-4.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	width: 429px;
	height: 800px;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
	margin: 0 auto;
	padding: 50px;
}



/* -------- Event Section --------*/


.event-box {
	position: absolute;
	top: 14%;
	width: 315px;
}
.event-box p {
	text-align: left;
}

.event-text,
.event-precondition,
.discard-condition,
.combat-text,
.combat-precondition {
	margin: 2% 2% 2% 2%;
	font-size: 0.95rem;
	font-family: PonaDisplay;
	white-space: pre-wrap;
}

.event-title {
	font-size: 1.25rem;
	width: 60%;
	margin: 0 auto;
	font-family: PonaDisplay;
	font-style: bold;
}

.event-precondition, .combat-precondition {
	font-weight: 600;
}

.discard-condition {
	font-style: italic;
}

.special-hunt-tile-img {
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -5rem;
}

/* --------------------------------*/



/* -------- Combat Section --------*/

.combat-box {
	width: 325px;
	height: 200px;
	text-align: right;
}

 /*Each box fits text for Blank-{faction}-Card-{num}*/

.box-1 {
	position: absolute;
	bottom: 25%;
	right: 12%;
}

.box-2 {
	position: absolute;
	bottom: 21%;
	right: 11%;
}

.box-3 {
	position: absolute;
	bottom: 13%;
	right: 11%;
}

.box-4 {
	position: absolute;
	bottom: 8%;
	right: 11%;
}

.combat-title {
	font-size: 1.25rem;
	margin: 0 auto;
	margin-bottom: 2%;
	font-family: PonaDisplay;
	font-style: bold;
}

/* --------------------------------*/

/* ------- Bottom Card Text -------*/

.initiative-number {
	position: absolute;
	font-weight: bold;
	top: 88.5%;
	left: 11.5%;
} 

.card-number {
	position: absolute;
	top: 96%;
	font-size: 0.6rem;
	right: 2.75%;
	color: white;
}

/* --------------------------------